@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    width: 80%;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fontScale {
    0% {
        font-size: 0px;
    }
    25% {
        font-size: 0px;
    }
    
    100% {
        font-size: max(4.5vw, 22px);
    }
}
